<div class="details">
  <div class="item">
    <div>Imagem da receita</div>
    <input type="url" name="image" value="{{recipe.image}}" placeholder="http://">
  </div>
</div>

<div class="details">
  <div class="item">
    <div>Título da receita</div>
    <input type="text" name="title" value="{{recipe.title}}" placeholder="Nome da Receita">
  </div>
</div>

<div class="details">
  <div class="item">
    <div>Autor(a)</div>
    <input type="text" name="author" value="{{recipe.author}}" placeholder="Autor(a)">
  </div>
</div>

<div class="details">
  <div class="item">
    <div>Ingredientes</div>
  </div>

  <div id="create-ingredients">

    {% if recipe %}

    {% for ingredient in recipe.ingredients %}
    <div class="ingredient">
      <input
        type="text"
        name="ingredients[]"
        value="{{ ingredient }}"
      >
    </div>
    {% endfor %}
  
    {% else %}

    <div class="ingredient">
      <input 
        type="text" 
        name="ingredients[]" 
      >
    </div>
    {% endif %}
  </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    

  <div class="item">
    <div>Modo de preparo</div>
  </div>
      <div id="preparations">

        {% if recipe %}

        {% for preparation in recipe.preparations %}
        <div class="preparation">
          <input
            type="text"
            name="preparations[]"
            value="{{preparation}}"
          >
        </div>
        {%endfor%}
      {%else%}

      <div class="preparation">
          <input
            type="text"
            name="preparations[]"
          >
        </div>
      {%endif%}
    </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="details">
  <div class="item">
    <div>Informações adicionais</div>
      <textarea name="informations" class="textarea">{{ recipe.informations }}</textarea>
  </div>
</div>