@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

*{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #084D6E;
}

header{
  background-color:#7159c1;
  padding: 30px;
  text-align: center;
}

header a,
.menu-footer a{
  margin-right: 30px;
  text-decoration: none;
  color: whitesmoke;
}

header .name{
  position: absolute;
  left: 140px;
  color: whitesmoke;
  font-size: 30px;
  top: 21px;
}

header .name:hover{
  color: rgb(0, 0, 0);
  transition: 200ms;
}

header a:hover,
.menu-footer a:hover{
  color: rgb(1, 34, 27);
  transition: 200ms;
}

#img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  left: 43%;
  top: 83px;
}

img{
  width: 40px;
  display: inline-block;
  position: absolute;
  left: 300px;
  top: 20px;
}

.info h1{
  text-align: center;
  margin-top: 160px;
  color: whitesmoke;
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
}

.info p{
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.info {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: whitesmoke;
  font-weight: normal;
}

.info span p{
  margin-top: 10px;
}

.menu-footer{
  text-align: center;
  margin-top: 10px;
}