{% extends 'layout.njk'%}

    {%block head%}
    <link rel="stylesheet" href="/css/styles.css">
    <link type="image/png" rel="shortcut icon" href="/img/favicon.png" />
    <title>{{data.title}}</title>
    {%endblock%}
  
    {%block content%}
  <div class="info">
    <div id="img"><img src="{{data.logo_url}}" alt="logo"></div>
    <h1>{{data.title}}</h1>
      <p>{{data.info1}}</p>
      <p>{{data.info2}}</p>
    <span> <p> {{data.tectitle}} </p>
      <ol>
      {% for tecnologia in data.tecnologias %}
        <li>{{tecnologia.name}}</li>
      {% endfor %}
    </span>
  </div>
  <div class="menu-footer">
    <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
    <a href="https:https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg" target="_blank">Youtube</a>
    <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
  </div>
 {%endblock%}

</html>