{%extends 'layout.njk'%}
    {%block head%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link type="image/png" rel="shortcut icon" href="/img/favicon.png" />
    <title>Rocketseat - Conteúdos</title>
    {%endblock%}
  </head>
<body>
  {% block header %}{%endblock%}
  {% block cards%}
  <section>
    <div class="card" id="{{item.id}}">
      <div class="img">
        <img src="{{item.image_url}}" alt="{{item.id}}">
      </div>
      <p>{{item.info}}</p>
      <p>{{item.modulos}}</p>
      <span class="card__price">{{item.price}}</span>
      <a href="https://rocketseat.com.br/{{item.id}}" class="btn">Mais informações</a>
    </div>
  {%endblock%}