{%extends 'layout.njk'%}

{%block head%}
<title>404 Error</title>
<link rel="stylesheet" href="/css/styles.css">
<link type="image/png" rel="shortcut icon" href="/img/favicon.png" />
{%endblock%}

{% block header %}{%endblock%}
{%block error%}
<body>
    <div class="title">
      <div class="h1">ERROR 404</div>
      <p>Page not found! Try again when you find the princess!</p>
    </div>
</body>
{%endblock%}