{% extends 'layout.njk' %}

{% block content %}
<div class="card">
  <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover">
  </section>
  <section class="details">
    <form method="POST" action="/teachers">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Avatar URL</div>
        <div>
          <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{teacher.avatar_url}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Professor</div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Nome completo do Professor"
            value="{{teacher.name}}"
          >
        </div>
      </div>

      <div class="item"> 
        <div>Idade</div>
          <div>{{teacher.age}}</div>
        </div>

      <div class="item">
        <div>Escolaridade</div>
        <div>{{teacher.graduation}}</div>
      </div>

      <div class="item">
        <div>Tipos de aula</div>
        <div>
          <span>
            <input
              type="radio" 
              name="classType" 
              value="facetoface"
              {% if teacher.classType == "facetoface" %}
              checked
              {% endif %}>Presencial
          </span>
          <span>
            <input 
              type="radio" 
              name="classType" 
              value="distance"
              {% if teacher.classType == "distance" %}
              checked
              {% endif %}>À distância
          </span>
        </div>
      </div>

      <div class="item">
        <div>Área de atuação</div>
        <div>
          <input
            type="text"
            name="subjects"
            placeholder="Separar matérias por vírgula"
            value="{{teacher.subjects}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
          <div>{{teacher.created_at}}</div>
      </div>
      <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>
    </form>
    <form id="form-delete" action="/teachers?_method=DELETE" method="post">
        <input 
          type="hidden" 
          name="id" 
          value="{{teacher.id}}"
        >
        <button type="submit">Deletar</button>
    </form>    
  </section>
</div>

{% include 'delete.njk' %}
{% endblock %}