@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgba(155, 157, 158, 0.753);
}

header{
  background-color:#7159c1;
  padding: 30px;
  text-align: center;
}

header a,
.menu-footer a{
  margin-right: 30px;
  text-decoration: none;
  color: whitesmoke;
}

header .name{
  position: absolute;
  left: 80px;
  color: whitesmoke;
  font-size: 30px;
  top: 21px;
}

header .name:hover{
  color: rgb(0, 0, 0);
  transition: 200ms;
}

header a:hover,
.menu-footer a:hover{
  color: rgb(1, 34, 27);
  transition: 200ms;
}

#img img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  left: 43%;
  top: 110px;
}

header img{
  width: 40px;
  display: inline-block;
  position: absolute;
  left: 250px;
  top: 20px;
}

.info h1{
  text-align: center;
  margin-top: 160px;
  color: whitesmoke;
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
}

.info p{
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.info {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: whitesmoke;
  font-weight: normal;
}

.info span p{
  margin-top: 10px;
}

.menu-footer{
  text-align: center;
  margin-top: 10px;
}

/* ==== CARDS CURSOS ====*/

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1426px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card{
  max-width: 100%;
  max-height: 600px;
  height: 400px;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(3 1fr);
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-right: 35px;
  border: 1px solid white;
  border-radius: 5px;
  color: #777;
  align-content: center;
}

.card.starter img{
position: relative;
left: 70px;
top: 0;
margin-bottom: 50px;
}
.card.launchbase img{
position: relative;
left: 20px;
top: 0;
margin-bottom: 50px;
}
.card.gostack img{
position: relative;
left: 60px;
top: 0;
margin-bottom: 50px;
}

.card p{
font-size: 14px;
line-height: 24px;
text-align: center;
}

.card p strong{
  color: #7159c1;
}

.card p + p{
  font-weight: bold;
  font-size: 13px;
}

.card span{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.card.starter:hover{
  border:2px solid #7159c1;
  transition: 100ms;
}

.card.launchbase:hover{
  border:2px solid #fd951f;
  transition: 100ms;
}

.card.gostack:hover{
  border:2px solid #04d361;
  transition: 100ms;
}

/* ==== MODAL OVERLAY ====*/

.modal-overlay{
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  background-color: white;
  width: 60%;
  height: 80%;
  margin: 5vh auto;
  position: relative;
}

.modal.maximize{
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}

.modal .close-modal{
  color: black;
  position: absolute;
  right: 1px;
  top: 1px;
  cursor: pointer;
}

.modal .maximize-modal{
  color: black;
  position: absolute;
  right: 25px;
  top: 1px;
  cursor: pointer;
}
/* ==== MODAL ACTIVE ====*/

.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

/* ===== IFRAME ====*/

iframe{
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
}