{% extends "layout.njk"%}

{%block head%}
<title> Sobre - {{data.name}}</title>
{%endblock%}
  {% block content %}
      <div id="wrapper">
        <img src="{{data.avatar_url}}" alt="Imagem de {{data.name}}">
        <h1>{{data.name}}</h1>
        <h2>{{data.role}}</h2>
        <p>{{data.description}}</p>
      </div>
        {% for link in data.links %}
        
      <div id="menu-footer" class="menu">
        <a href="{{link.url}}"target="_blank">{{link.name}}</a>
      </div>
      {%endfor%}

  {%endblock%}