<div class="item">
      <div>Avatar URL</div>
        <div>
          <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{student.avatar_url}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Aluno</div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Nome completo do Aluno"
            value="{{student.name}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>
          <input
            type="email"
            name="email"
            placeholder="email@com"
            value="{{student.email}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Data de nascimento</div>
        <div>
          <input
            type="date"
            name="birth"
            value="{{student.birth}}"
          >
        </div>
      </div>
      
      <div class="item">
        <div>Ano escolar</div>
          <select name="education_level">
            <option value="5º" {% if student.education_level == "5º" %} selected {% endif %}>5º Ano Ensino Fundamental</option>
            <option value="6º"{% if student.education_level == "6º" %} selected {% endif %}>6º Ano Ensino Fundamental</option>
            <option value="7º"{% if student.education_level == "7º" %} selected {% endif %}>7º Ano Ensino Fundamental</option>
            <option value="8º"{% if student.education_level == "8º" %} selected {% endif %}>8º Ano Ensino Fundamental</option>
            <option value="9º"{% if student.education_level == "9º" %} selected {% endif %}>9º Ano Ensino Fundamental</option>
            <option value="1º"{% if student.education_level == "1º" %} selected {% endif %}>1º Ano Ensino Médio</option>
            <option value="2º"{% if student.education_level == "2º" %} selected {% endif %}>2º Ano Ensino Médio</option>
            <option value="3º"{% if student.education_level == "3º" %} selected {% endif %}>3º Ano Ensino Médio</option>
          </select>
      </div>

      <div class="item">
        <div>Carga Horária</div>
        <div>
          <input
            type="number"
            name="workload"
            value="{{student.workload}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Professor</div>
          <select name="teacher">
          {% for teacher in teacherOptions %}
            <option value="{{teacher.id}}"
            {% if student.teacher_id == teacher.id %}selected {% endif %}>
              {{teacher.name}}
            </option>
          {% endfor %}
          </select>
      </div>

      <button type="submit">Salvar</button>