{% extends 'layout.njk' %}

{% block content %}
<div class="card">
  <section class="avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover">
  </section>
  <section class="details">
    <form method="POST" action="/students">
      <h3>Detalhes</h3>
      <div class="item">
        <div>Avatar URL</div>
        <div>
          <input
            type="url"
            name="avatar_url"
            placeholder="http://"
            value="{{student.avatar_url}}"
          >
        </div>
      </div>

      <div class="item">
        <div>Aluno(a)</div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Nome completo do Professor"
            value="{{student.name}}"
          >
        </div>
      </div>

      <div class="item"> 
        <div>Aniversário</div>
          <div>{{student.birth}}</div>
        </div>

      <div class="item">
        <div>Ano Escolar</div>
        <div>{{student.educationlevel}}</div>
      </div>

      <div class="item">
        <div>Carga Horária</div>
        <div>{{student.workload}} hora(s)</div>
      </div>

      <div class="item">
        <div>Aluno(a) de</div>
        <div>{{student.teacher_name}}</div>
      </div>


     
      <a href="/students/{{student.id}}/edit" class="button">Editar</a>
    </form>
    <form id="form-delete" action="/students?_method=DELETE" method="post">
        <input 
          type="hidden" 
          name="id" 
          value="{{student.id}}"
        >
        <button type="submit">Deletar</button>
    </form>    
  </section>
</div>

{% include 'delete.njk' %}
{% endblock %}