<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <title>Foodfy</title>
    {%endblock%}
    <link rel="stylesheet" href="/css/styles.css">
    
  </head>
  <body>
    <header>
      <a href="/"><img src="/imgs/logo.png" alt="logo"></a>
      <div class="menu">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
      </div>
    </header>

    {%block content%}{%endblock%}








    <footer class="footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
     <script src="/js/scripts.js"></script>
  </body>
</html>