{%extends 'layout.njk'%}
{% block content %}
    <section class="cards">
      {% for recipe in recipes %}
        <div class="card" id="{{loop.index -1}}">
          <div class="card__image">
            <img src="{{recipe.image}}">
          </div>
          <div class="card-title">
            <h1>{{recipe.title}}</h1>
          </div>
          <div class="card-author">
            <p>por {{recipe.author}}</p>
          </div>
        </div>
        {%endfor%}
    </section>

    <script src="/js/scripts.js"></script>
    {# <div class="modal-overlay">
      <div class="modal">
        <div class="modal-content">
            <img src="" alt="">
            <p class="modal-title"></p>
            <p class="modal-author"></p>
            <a class="close-modal">Fechar modal</a>
        </div>
      </div>
    </div> #}
{% endblock content %}
