{% extends 'admin/recipes/layout.njk' %}

{% block content %}
<form id="create" action="/admin/recipes" method="POST">
  <div class="form-recipe">
    <h1>Criando receita</h1>
    <span><button type="submit">Salvar receita</button></span>
  </div>
{% include 'admin/recipes/fields.njk' %}
</form>
<script src="/js/create.js"></script>
{% endblock content %}
